html,
body {
  height: 100% !important;
  max-height: 100% !important;
  min-height: 100% !important;
}

.row {
  height: 100% !important;
  max-height: 100%;
  min-height: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
}

.main-div {
  background: black;
  color: rgb(152, 152, 197);
  height: 100% !important;
  max-height: 100%;
  min-height: 100%;
}
